body {
    background-color: #1b1b1b;
    color: #f5f5f5;
}

h1, h2, h3 {
    color: #b767e6;
}

a {
    color: #b767e6;
}

a:hover {
    color: #c87df5;
}

header {
    background-color: #1b1b1b;
}

code {
    background-color: #f5f5f5;
}
